@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --card-bg: #f9f9f9;
  --card-text: #111111;
  --accent: #6b46c1; /* púrpura para mantener identidad */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card-bg: #1c1c1c;
    --card-text: #ffffff;
    --accent: #c084fc; /* un púrpura más claro */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
